<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cc.lijingbo.androidstudy">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".ui.NaviActivity"></activity>
    <activity android:name=".ui.RvListenerActivity" />
    <activity android:name=".bigimage.ImageLoaderMainActivity" />
    <activity android:name=".bigimage.ImageLoaderSecondActivity" />
    <activity
      android:name=".paypassword.MainActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".paypassword.Main2Activity"
      android:screenOrientation="portrait" />
    <activity android:name=".imageloader.imageloader_ren.ImageLoaderMainactivity" />
    <activity android:name=".imageloader.imageloader.ImageLoaderMainActivity" />
    <activity android:name=".webview.WebViewJavaActivity" />
    <activity android:name=".webview.WebViewActivity" />
    <activity android:name=".webview.WebViewTestActivity" />
    <activity android:name=".animation.AnimationMainActivity" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".imageloader.ImageLoaderDispatcherActivity" />
    <activity
      android:name=".AlphaActivity"
      android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
    <activity android:name=".ui.WaterMarkActivity" />
  </application>

</manifest>